<h2>Bienvenido</h2>
<h4>Página desarrollada por: Juan Ruiz </h4>
<picture>
	<source srcset="/images/fotoSmall.jpg" media="(max-width: 480px)">
	<source srcset="/images/foto.jpg"> 
    <img srcset="/images/foto.jpg" alt="Mi foto">
</picture>

